/.vscode
/.idea
/build
/install
/log
/src/.vscode
src/gui/gui/__pycache__
src/*/*/__pycache__
src/mobile_control/rover/.vscode/extensions.json
src/mobile_control/rover/.vscode/settings.json
cdds.log.101971
src/gui/gui/Interface_ui.py
